.card_wrapper {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex: 1 0 300px;
  box-sizing: border-box;
  margin: 1rem 0.25em;
  padding: 3px;
}

.card_flag {
  width: 100%;
  height: 100px;
}

.card_details {
  text-align: center;
  padding: 0 1rem;
}

.card_extra_details {
  color: gray;
}

@media screen and (min-width: 40em) {
  .card_wrapper {
    flex: 0 1 calc(50% - 1em);
  }
}
@media screen and (min-width: 60em) {
  .card_wrapper {
    flex: 0 1 calc(33% - 1em);
  }
}
