.App {
  min-height: 100vh;
  background-color: rgb(200, 200, 200);
}

#cards_container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
#search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#loading_and_error {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media screen and (min-width: 40em) {
  #cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 40em) {
  #cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
